<h1>about</h1>
<p>
	<%= link_to "One Month Rails", "http://onemonthrails.com" %> This is the sample application of my One Month Rails project.
</p>
<p>
 Project is build using <%= link_to "Ruby on Rails", "http://rubyonrails.org" %>
</p>
