
	<div class="jumbotron">

		<h1>One Month Rails</h1>
		<p class="lead">Welcome to One Month Rails sample app. 
		 Its my first time coding an application so be nice!
			</p>
	<a class="btn btn-large btn-info" href="#"><i class="icon-ok-circle icon-white"></i> Sign Up Now</a>
	</p>
	</div>
			
	

