<div class="hero-unit">
	<h1>One Month Rails</h1>
	<p class="lead">Welcome to One Month Rails sample app. Its my first time coding an application so be nice!
	This app was made possible by </P>
		<p>
			<a class="btn btn-large btn-info" href="http://onemonthrails.com"><i class="icon-road icon-white"></i> One Month Rails</a>
		</P>

</div>
