$baseFontFamily: Rum Raisin;
@import url(http://fonts.googleapis.com/css?family=Rum+Raisin);

$navbarBackgroundHighlight: white;
$navbarBackground: white;
$navbarLinkBackgroundHover: gray;
$navbarLinkColorHover: transparent;



@import 'bootstrap';

body {
	padding-top: 60px;
}

@import 'bootstrap-responsive';

.navbar-inner {
	@include box-shadow(none !important);
	border: 0;
}


.footer {
	margin-top: 50px;
	color: $gray;
	a {
		color: $gray;
	}
}
.jumbotron {
  position: relative;
  padding: 40px 0;
  color: #fff;
  text-align: center;
  background: $gray;
  border-radius: 100%;
}
.jumbotron h1 {
  font-size: 80px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
}
.jumbotron p {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.25;
  margin-bottom: 30px;
}

/* Link styles (used on .masthead-links as well) */
.jumbotron a {
  color: #fff;
  color: rgba(255,255,255,.5);
  -webkit-transition: all .2s ease-in-out;
     -moz-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}
.jumbotron a:hover {
  color: #fff;
  text-shadow: 0 0 10px rgba(255,255,255,.25);
}

/* Required for jQuery Masonry */
.box {
    margin: 5px;
    padding: 5px;
    font-size: 11px;
    line-height: 1.4em;
    float: left;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px #444;
    width: 214px;
}
.box img {
    width: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.description {
    margin: 10px 0 5px;
    font-size: 18px;
}
.posted {
  font-size: 14px;
}
