<div class="footer">
		<small>
		  <a class="btn btn-mini btn-success" href="http://about.me/mattangriffel"><i class="icon-star icon-white"></i> Mattan Griffel</a> Course Design

		<p>
			<a class="btn btn-mini btn-info" href="http://braunold.wordpress.com"><i class="icon-user icon-white"></i> Joel Braunold</a> Student
		</p>
		</small>

	</div>